<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <h2 v-if="isshow" id='11111'>{{message}}</h2>
        <h2 v-show="isshow">{{message}}</h2>
        <span v-if="user">
            用户账号
            <input type="text" id="user" placeholder="user" key="user-input">
        </span>
        <span v-else>
            用户邮箱
            <input type="text" id="email" placeholder="email" key="email-input">
        </span>
        <button @click="user=!user">切换类型</button>
    
    </div>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                message: "你好世界",
                user:true,
                isshow: true
            }
        })
    </script>
</body>
</html>