<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>编译作用域</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>{{message}}</h1>
        <!-- <cpn>
            <h1 slot="left">左标题</h1>
            <h2 slot="center">标题</h2>
            <h3 slot="right">右标题</h3>
        </cpn>

        <cpn><button slot="right">标题</button></cpn> -->

        <!-- <cpn v-show="isShow">
            <h3 slot="right">右标题</h3>
        </cpn> -->
        <cpn>
            <template slot-scope="slot">
                <span v-for="item in slot.data">{{item}}-</span>
            </template>
        </cpn>

        <cpn>
            <template slot-scope="slot">
                <span v-for="item in slot.data">{{item}}*</span>
            </template>
        </cpn>

        <cpn>
            <template slot-scope="slot">
                <span v-for="item in slot.data">{{item}}+</span>
            </template>
        </cpn>

        <cpn>
            <template slot-scope="slot">
                <!-- <span v-for="item in slot.data">{{item}}+</span> -->
                <span>{{slot.data.join('-')}}</span>
            </template>
        </cpn>

        <cpn>
            <template slot-scope="slot">
                <span>{{slot.data.join('*')}}</span>
            </template>
        </cpn>

        <cpn>
            <template v-slot="slot">
                {{ slot.data.join('*')}}
              </template>
        </cpn>

        <cpn>

            <template v-slot="s">
                {{s.d}}
            </template>

            <template v-slot:test>
                <p>段落1</p>
            </template>

        </cpn>


    </div>

    <template id="cpn">
        <div>
            <slot :d="arr">
                <ul>
                    <li v-for="n in arr">{{n}}</li>
                </ul>
            </slot>

            <slot name="test"><h2>标题</h2></slot>
        </div>
    </template>

<script>
    const app = new Vue({
        el: "#app",
        data: {
            message: "你好，Vue",
            isShow: true,
            
        },
        components: {
            cpn: {
                template: "#cpn",
                data(){
                    return {
                        isShow: false,
                        arr:['a','b','c','d','e','f','g']
                    }
                },
        
            }
            
        }
    })
</script>
</body>
</html>